:root{
    --body-bg-color: #E9EDC9;
    --container-bg-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-bg-color);
}

.container{
    background-color: var(--container-bg-color);
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 20px;
}

.btn{
    background: whitesmoke;
    color: #010101;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #010101;
    border-radius: 7px;
    cursor: pointer;
}

#next-btn{
    background-color: #CCD5AE;
    color: #010101;
    margin: 20px 0;
    padding: 10px;
    width: 150px;
    border: 0;
    border-radius: 7px;
    display: none;
}

h1{
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

h2{
    margin: 20px 0;
}

.btn:hover:not([disabled]) {
    background: #010101;
    color: whitesmoke;
}

.btn:hover:disabled{
    cursor: not-allowed;
}

.correct{
    background: palegreen;
}

.incorrect{
    background: salmon;
}
